.lock-waf_*_build
.waf3-*
waf3-*
__pycache__
result
build
.cache
cache
deps/*
src/external
compiled.list
compiler.path
downloaded.list
fonts_linked.list
.*.swp
src/assets_gen/fonts
log.txt
.clangd
rl2lua_test/raylib.lua.c