.lock-waf_*_build
.waf3-2.0.22-aaee2b4cd084b3f1e699ecd3fe442edd
waf3-2.0.22-aaee2b4cd084b3f1e699ecd3fe442edd
__pycache__
result
build
cache
deps/*
src/external
compiled.list
compiler.path
downloaded.list
fonts_linked.list
src/assets_gen
src/assets_gen/fonts
